@charset "utf-8";
	.NFR_smalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1173px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TSS_bigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1502px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TSS_smalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1327px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TES_smalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1684px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.NFR_bigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1198px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.NFR_bigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1098px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.NFR_bigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1148px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TSS_bigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1402px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.NFR_bigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1048px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Motif_graphic1
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 167px;
	top : 576px;
	width : 75px;
	height : 400px;
}
.TSS_bigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1352px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TES_bigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1602px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TSS_smalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1477px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TSS_smalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1427px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TES_bigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1711px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TES_smalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1629px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.leftcolumn
{
	background : #1E407C;
	background : rgba(30, 64, 124, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 144px;
	height : 1079px;
}
.TES_smalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1575px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TES_graphicbox
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1556px;
	top : 576px;
	width : 200px;
	height : 400px;
}
.TSS_bigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1302px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.db_MEME_4color
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 167px;
	top : 576px;
	width : 75px;
	height : 400px;
}
.TES_bigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1656px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.TSS_smalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1377px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.titleseparator
{
	border-style : Solid;
	border-color : #96BEE6;
	border-color : rgba(150, 190, 230, 1);
	border-width : 2px;
	position : absolute ;
	left : 143px;
	top : 144px;
	width : 1631px;
	height : 0px;
}
.NFR_smalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1123px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.db_MEME_motif
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 175px;
	top : 290px;
	width : 244px;
	height : 43px;
}
.memeseparator
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 162px;
	top : 271px;
	width : 254px;
	height : 0px;
}
.rightcolumn
{
	background : #1E407C;
	background : rgba(30, 64, 124, 1);
	position : absolute ;
	left : 1776px;
	top : 0px;
	width : 144px;
	height : 1079px;
}
.TES_bigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1556px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Motif_graphic2
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 274px;
	top : 576px;
	width : 150px;
	height : 400px;
}
.pennstatelogo
{
	background-image : url(pennstatelogo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 187px;
	top : -2px;
	width : 306px;
	height : 148px;
}
.db_nuc_heatmap
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 1048px;
	top : 576px;
	width : 201px;
	height : 400px;
}
.db_TES_heatmap
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 1557px;
	top : 576px;
	width : 200px;
	height : 399px;
}
.db_MEME_db_ANTI
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 301px;
	top : 226px;
	width : 122px;
	height : 38px;
}
.db_TSS_heatmap
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 1301px;
	top : 578px;
	width : 201px;
	height : 397px;
}
.TES_bigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1756px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.webbar
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 143px;
	top : 1049px;
	width : 1633px;
	height : 31px;
}
.NFR_graphicbox
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1048px;
	top : 576px;
	width : 200px;
	height : 400px;
}
.TSS_bigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1452px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.NFR_bigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1248px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.titlebox
{
	background : #E1F0FF;
	background : rgba(225, 240, 255, 1);
	position : absolute ;
	left : 143px;
	top : 0px;
	width : 1633px;
	height : 144px;
}
.NFR_smalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1223px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TSS_graphicbox
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1302px;
	top : 576px;
	width : 200px;
	height : 400px;
}

.NFR_smalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1073px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.db_all_heatmap
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 474px;
	top : 376px;
	width : 204px;
	height : 601px;
}
.TES_smalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1738px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_lefttick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 181px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Afeatures_bigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 576px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Afeaturesdivider
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 676px;
	top : 376px;
	width : 0px;
	height : 601px;
}
.Motif_rightbigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 274px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Motif_lefttick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 206px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Afeatures_smalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 601px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_rightbigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 349px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Afeatures_smalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 651px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Bfeaturesdivider
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 975px;
	top : 376px;
	width : 0px;
	height : 600px;
}
.Motif_rightbigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 424px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Motif_rightbigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 386px;
	top : 977px;
	width : 0px;
	height : 5px;
}
.Motif_rightsmalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 292px;
	top : 977px;
	width : 0px;
	height : 4px;
}

.Afeatures_bigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 626px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Afeatures_bigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 476px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Afeatures_bigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 526px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Motif_rightsmalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 367px;
	top : 977px;
	width : 0px;
	height : 3px;
}
.Motif_rightbigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 311px;
	top : 977px;
	width : 0px;
	height : 5px;
}
.Motif_rightsmalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 405px;
	top : 977px;
	width : 0px;
	height : 3px;
}
.Afeatures_graphicbox
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 476px;
	top : 376px;
	width : 220px;
	height : 600px;
}
.Afeatures_smalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 551px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Afeatures_smalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 501px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_lefttick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 231px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_lefttick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 193px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_lefttick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 218px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Motif_rightsmalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 330px;
	top : 977px;
	width : 0px;
	height : 3px;
}
.searchfield_box
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1420px;
	top : 50px;
	width : 208px;
	height : 40px;
}
.Afeatures_bigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 676px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.db_motif_composite
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 201px;
	top : 359px;
	width : 192px;
	height : 215px;
}
.db_motif_heatmap
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 274px;
	top : 576px;
	width : 151px;
	height : 401px;
}
.db_bound_heatmap
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 775px;
	top : 376px;
	width : 201px;
	height : 601px;
}
.db_nuc_composite
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 999px;
	top : 376px;
	width : 253px;
	height : 207px;
}
.db_TSS_composite
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 1251px;
	top : 376px;
	width : 251px;
	height : 207px;
}
.db_TES_composite
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 1502px;
	top : 376px;
	width : 255px;
	height : 207px;
}
.db_all_gene_class_bar
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 677px;
	top : 375px;
	width : 20px;
	height : 602px;
}
.conditionbar_graphics
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 143px;
	top : 1049px;
	width : 1632px;
	height : 30px;
}
.db_gene_class_bar
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 976px;
	top : 375px;
	width : 20px;
	height : 602px;
}
.db_MEME_db_SENSE
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 173px;
	top : 227px;
	width : 116px;
	height : 37px;
}
.Bfeatures_smalltick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 950px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Bfeatures_smalltick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 900px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Bfeatures_bigtick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 975px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Bfeatures_bigtick4
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 875px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Bfeatures_graphicbox
{
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 775px;
	top : 376px;
	width : 220px;
	height : 600px;
}
.Bfeatures_bigtick5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 825px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Bfeatures_smalltick2
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 850px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.Bfeatures_bigtick3
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 775px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Bfeatures_bigtick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 925px;
	top : 977px;
	width : 0px;
	height : 8px;
}
.Bfeatures_smalltick1
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	border-style : Solid;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 800px;
	top : 977px;
	width : 0px;
	height : 4px;
}
.TSSzeroline
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Dashed;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1452px;
	top : 389px;
	width : 0px;
	height : 599px;
}
.NFRzeroline
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Dashed;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1148px;
	top : 376px;
	width : 0px;
	height : 599px;
}
.TESzeroline
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Dashed;
	border-color : #231F20;
	border-color : rgba(35, 31, 32, 1);
	border-width : 1px;
	position : absolute ;
	left : 1656px;
	top : 377px;
	width : 0px;
	height : 599px;
}
