    <style>
/* The following is the content of meme.css */
body { background-color:white; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif;}

div.help {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 12px;
  height: 13px;
  cursor: pointer;
  background-image: url(data:image/gif;base64,R0lGODlhDAANAIABANR0AP///yH5BAEAAAEALAAAAAAMAA0AAAIdhI8Xy22MIFgv1DttrrJ7mlGNNo4c+aFg6SQuUAAAOw==);
}

div.help:hover {
  background-image: url(data:image/gif;base64,R0lGODlhDAANAKEAANR0AP///9R0ANR0ACH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEAAAIALAAAAAAMAA0AAAIdDGynCe3PgoxONntvwqz2/z2K2ImjR0KhmSIZUgAAOw==);
}

p.spaced { line-height: 1.8em;}

span.citation { font-family: "Book Antiqua", "Palatino Linotype", serif; color: #004a4d;}

p.pad { padding-left: 30px; padding-top: 5px; padding-bottom: 10px;}

td.jump { font-size: 13px; color: #ffffff; background-color: #00666a;
  font-family: Georgia, "Times New Roman", Times, serif;}

a.jump { margin: 15px 0 0; font-style: normal; font-variant: small-caps;
  font-weight: bolder; font-family: Georgia, "Times New Roman", Times, serif;}

h2.mainh {font-size: 1.5em; font-style: normal; margin: 15px 0 0;
  font-variant: small-caps; font-family: Georgia, "Times New Roman", Times, serif;}

h2.line {border-bottom: 1px solid #CCCCCC; font-size: 1.5em; font-style: normal;
  margin: 15px 0 0; padding-bottom: 3px; font-variant: small-caps;
  font-family: Georgia, "Times New Roman", Times, serif;}

h4 {border-bottom: 1px solid #CCCCCC; font-size: 1.2em; font-style: normal;
  margin: 10px 0 0; padding-bottom: 3px; font-family: Georgia, "Times New Roman", Times, serif;}

h5 {margin: 0px}

a.help { font-size: 9px; font-style: normal; text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;}

div.pad { padding-left: 30px; padding-top: 5px; padding-bottom: 10px;}

div.pad1 { margin: 10px 5px;}

div.pad2 { margin: 25px 5px 5px;}
h2.pad2 { padding: 25px 5px 5px;}

div.pad3 { padding: 5px 0px 10px 30px;}

div.box { border: 0px solid #CCCCCC; padding:10px; overflow: hidden;}

div.bar { border-left: 7px solid #00666a; padding:5px; margin-top:25px; }

div.subsection {margin:25px 0px;}

img {border:0px none;}

th.majorth {text-align:left;}
th.minorth {font-weight:normal; text-align:left; width:8em; padding: 3px 0px;}
th.actionth {font-weight:normal; text-align:left;}

.explain h5 {font-size:1em; margin-left: 1em;}

div.doc {margin-left: 2em; margin-bottom: 3em;}

th.trainingset {
  border-bottom: thin dashed black; 
  font-weight:normal; 
  padding:0px 10px;
}
div.pop_content {
  position:absolute;
  z-index:50;
  width:450px;
  padding: 5px;
  background: #E4ECEC;
  font-size: 12px;
  font-family: Arial;
  border-style: double;
  border-width: 3px;
  border-color: #AA2244;
  display:none;
}

div.pop_content > *:first-child {
  margin-top: 0px;
}

div.pop_content h1, div.pop_content h2, div.pop_content h3, div.pop_content h4, 
div.pop_content h5, div.pop_content h6, div.pop_content p {
  margin: 0px;
}

div.pop_content p + h1, div.pop_content p + h2, div.pop_content p + h3, 
div.pop_content p + h4, div.pop_content p + h5, div.pop_content p + h6 {
  margin-top: 5px;
}

div.pop_content p + p {
  margin-top: 5px;
}

div.pop_content > *:last-child {
  margin-bottom: 0px;
}

div.pop_content div.pop_close {
  /* old definition */
  float:right;
  bottom: 0;
}

div.pop_content span.pop_close, div.pop_content span.pop_back {
  display: inline-block;
  border: 2px outset #661429;
  background-color: #CCC;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  color: #AA2244; /*#661429;*/
  font-weight: bold;
}

div.pop_content span.pop_close:active, div.pop_content span.pop_back:active {
  border-style: inset;
}

div.pop_content span.pop_close {
  float:right;
  /*border: 2px outset #AA002B;*/
  /*color: #AA2244;*/
}

div.pop_content:not(.nested) .nested_only {
  display: none;
}

div.pop_back_sec {
  margin-bottom: 5px;
}

div.pop_close_sec {
  margin-top: 5px;
}

table.hide_advanced tr.advanced {
  display: none;
}
span.show_more {
  display: none;
}
table.hide_advanced span.show_more {
  display: inline;
}
table.hide_advanced span.show_less {
  display: none;
}


/*****************************************************************************
 * Program logo styling
 ****************************************************************************/
div.prog_logo {
  border-bottom: 0.25em solid #0f5f60;
  height: 4.5em;
  width: 24em;
  display:inline-block;
}
div.prog_logo img {
  float:left;
  width: 4em;
  border-style: none;
  margin-right: 0.2em;
}
div.prog_logo h1, div.prog_logo h1:hover, div.prog_logo h1:active, div.prog_logo h1:visited {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica,  sans-serif;
  font-size: 3.2em;
  line-height: 1em;
  vertical-align: top;
  display: block;
  color: #026666;
  letter-spacing: -0.06em;
  text-shadow: 0.04em 0.06em 0.05em #666;
}
div.prog_logo h2, div.prog_logo h2:hover, div.prog_logo h2:active, div.prog_logo h2:visited {
  display: block;
  margin:0;
  padding:0;
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1em;
  letter-spacing: -0.06em;
  color: black;
}

div.big.prog_logo {
  font-size: 18px;
}

.block_td {
  height:25px;
}
.block_container {
  position:relative;
  box-sizing: border-box;
  height: 25px;
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
}
.block_label {
  position: absolute; 
  display: inline-block;
  padding: 3px;
  z-index: 4;
  top: 6px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  transform: translateX(-50%);
}
.block_motif {
  position: absolute; 
  z-index: 3;
  top: 0px;
  box-sizing: border-box;
  border: 1px solid black;
  height: 12px;
  background-color: cyan;
}
.block_motif.top {
  border-bottom-width: 0;
}
.block_motif.bottom {
  border-top-width: 0;
}
.block_motif.scanned_site {
  opacity: 0.3;
}
.block_motif.scanned_site.active {
  opacity: 0.9;
}
.block_region {
  position:absolute; 
  z-index:6; 
  height:25px; 
  top:0px; 
}
.block_region.main {
  z-index:8;
}
.block_region.scanned_site {
  z-index:5;
}
.block_region.scanned_site.main {
  z-index:7;
}
.block_region.top {
  height:13px;
}
.block_region.bottom {
  height:13px;
  top:12px;
}
.block_rule {
  position:absolute;
  z-index:2;
  width:100%;
  height:1px;
  top:12px;
  left:0px;
  background-color:gray;
}
.block_plus_sym {
  position:absolute;
  z-index:4;
  line-height:12px;
  top:0px;
  left:-1em;
}
.block_minus_sym {
  position:absolute;
  z-index:4;
  line-height:12px;
  top:13px;
  left:-1em;
}

.tic_major {
  position:absolute;
  top:0em;
  height:0.5em;
  width: 2px;
  margin-left: -1px;
  background-color: blue;
}
.tic_minor {
  position:absolute;
  top:0em;
  height:0.2em;
  width: 1px;
  margin-left: -0.5px;
  background-color: blue;
}
.tic_label {
  position:absolute;
  display: inline-block;
  top:0.5em;
  height: 1em;
  color: blue;
  transform: translateX(-50%);
}

.block_needle {
  position:absolute;
  z-index:4;
  height:30px; 
  width:1px; 
  top:-2px; 
  background-color:gray;
}
.block_needle.right {
  height: 60px;
}
.block_handle {
  position: absolute; 
  display: inline-block;
  z-index: 5; 
  top: 27px; 
  min-width: 3ex;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  transform: translateX(-50%);
  background-color: LightGrey; 
  border:3px outset grey;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.block_handle.right {
  top: 47px;
}

.legend_container {
  text-align: right;
}
.legend_entry {
  display: inline-block;
  padding: 5px;
}
div.legend_swatch {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background-color: cyan;
  float: left;
}
div.legend_swatch input {
  display: none;
}
.legend_text {
  line-height: 15px;
  margin-left: 20px;
}
</style>
    <style>
/* meme output specific css */

div.pop_block {
  position:absolute;
  z-index:5;
  padding: 5px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#measure_match {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

div.template {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  visibility: hidden;
}

table.block_information {
  margin-left: auto;
  margin-right: auto;
}

table.block_information * th {
  text-align: right;
}

*.hide_empty_seqs * tr.empty_seq {
  display: none;
}

*.hide_only_scan * tr.only_scan {
  display: none;
}

*.hide_only_scan * div.scanned_site {
  display: none;
}

td.symaction {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}
div.sym_btn {
  display:inline-block;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  line-height:20px; 
  text-align: center;
  width: 20px;
  height: 20px;
  color: blue;
}
div.sym_btn:hover {
  color: white;
  background-color: blue;
}

div.sym_btn.positioned {
  position: absolute;
  top: 0px;
}

div.actionbutton { 
  display:inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height:20px; 
  padding: 5px; 
  margin: 10px 0; 
  border: 1px solid black;
}

div.actionbutton:hover {
  color:#FFF;
  background-color:#000;
}

div.param_box {
  display: inline-block;
  margin-right: 20px;
}

span.param {
  font-weight: bold;
}

div.box + div.box {
  margin-top: 5px;
}

div.sites_outer {
  position: relative;
  padding-top: 20px; /* height of header */
  display: inline-block;
}

div.sites_inner {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}
table.sites_tbl {
  border-collapse: collapse;
}

div.sites_th_inner {
  position: absolute;
  top: 0;
  line-height: 20px; /* height of header */
  text-align: left;
  padding-left: 5px;
}
th.nopad div.sites_th_inner {
  padding-left: 0;
}
div.sites_th_hidden {
  visibility: hidden;
  height: 0;
  padding: 0 10px;
}
th.nopad div.sites_th_hidden {
  padding: 0;
}
div.sites_inner * th {
  height: 0;
}

table.sites_tbl {
  overflow-x: hidden;
  overflow-y: auto;
}

.site_num {
  text-align: right;
}
.site_name {
  padding:0px 5px; 
  text-align:left;
}
.site_strand {
  padding:0px 5px; 
  text-align:center;
}
.norc .site_strand, .norc .site_strand_title {
  display: none;
}
.site_start {
  padding:0px 15px; 
  text-align: right;
}
.site_pvalue {
  text-align:center; 
  padding:0px 15px; 
  text-align:right;
  white-space: nowrap;
}
.lflank, .rflank, .match, .alpha_symbol {
  font-weight:bold; 
  font-size:15px; 
  font-family: 'Courier New', Courier, monospace;
  color:gray; 
}

.site.lflank {
  text-align:right; 
  padding-right:5px; 
  color:gray;
}
.site.match {
  text-align:center; 
}
.site.rflank {
  text-align:left; 
  padding-left:5px; 
  padding-right: 20px;
}

th.stop_reason {
  text-align: left;
  padding-right: 10px;
}

th.motif_ordinal {

}
td.motif_ordinal {
  text-align: right;
  padding-right: 10px;
}
th.motif_logo {
  padding-right: 10px;
}
td.motif_logo {
  padding-right: 10px;
}
th.motif_evalue {
  text-align:right;
  padding-right: 10px;
}
td.motif_evalue {
  text-align: right;
  white-space: nowrap;
  padding-right: 20px;
}
th.motif_nsites {
  text-align: right;
  padding-right: 10px;
}
td.motif_nsites {
  text-align: right;
  padding-right: 20px;
}
th.motif_width {
  text-align: right;
  padding-right: 5px;
}
td.motif_width {
  text-align: right;
  padding-right: 15px;
}
th.motif_more {
  padding: 0 5px;
}
td.motif_more {
  text-align: center;
  padding: 0 5px;
}
th.motif_submit {
  padding: 0 5px;
}
td.motif_submit {
  text-align: center;
  padding: 0 5px;
}
th.motif_download {
  padding-left: 5px;
}
td.motif_download {
  text-align: center;
  padding-left: 5px;
}


div.tabArea {
  font-size: 80%;
  font-weight: bold;
}

.norc div.tabArea {
  display: none;
}

span.tab, span.tab:visited {
  cursor: pointer;
  color: #888;
  background-color: #ddd;
  border: 2px solid #ccc;
  padding: 2px 1em;
  text-decoration: none;
}
span.tab.middle {
  border-left-width: 0px;
}
div.tabArea.base span.tab {
  border-top-width: 0px;
}
div.tabArea.top span.tab {
  border-bottom-width: 0px;
}

span.tab:hover {
  background-color: #bbb;
  border-color: #bbb;
  color: #666;
}
span.tab.activeTab, span.tab.activeTab:hover, span.tab.activeTab:visited {
  background-color: white;
  color: black;
  cursor: default;
}
div.tabMain {
  border: 2px solid #ccc;
  background-color: white;
  padding: 10px;
}
div.tabMain.base {
  margin-top: 5px;
  display: inline-block;
  max-width: 98%;
}

div.tabMain.top {
  margin-bottom: 5px;
}

div.tabCenter {
  max-width: 100%;
  overflow-x: auto;
  height: 200px;
  overflow-y: hidden;
}

canvas.logo_rc {
  display:none;
}
.show_rc_logo > canvas {
  display: none;
}
.show_rc_logo > canvas.logo_rc {
  display: block;
}

canvas.scan_logo {
  margin-left: 10px;
}

div.blocks_outer {
  position: relative;
  padding-top: 20px; /* height of header */
}

div.blocks_inner {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}
table.blocks_tbl {
  border-collapse: collapse;
  width: 100%;
}

div.blocks_th_inner {
  position: absolute;
  top: 0;
  line-height: 20px; /* height of header */
  text-align: left;
  padding-left: 5px;
}
th.nopad div.blocks_th_inner {
  padding-left: 0;
}
div.blocks_th_hidden {
  visibility: hidden;
  height: 0;
  padding: 0 10px;
}
th.nopad div.blocks_th_hidden {
  padding: 0;
}
div.blocks_inner * th {
  height: 0;
}

table.blocks_tbl {
  overflow-x: hidden;
  overflow-y: auto;
}
td.block_td {
  width: 99%;
}

*.blockdiag_num {
  text-align: right;
}

td.blockdiag_name {
  text-align: left;
  padding:0px 10px; 
}

td.blockdiag_pvalue {
  padding:0px 10px; 
  text-align:right;
  white-space: nowrap;
}

div.preview_btn {
  border: 2px solid white;
  height: 16px;
  width: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
div.preview_btn + div.preview_btn {
  margin-top: 3px;
}

div.preview_btn.active {
  border: 2px solid black;
  cursor: default;
}

div.preview_btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}

div.preview_btn.active:hover {
  background-color: white;
  color: black;
  border-color: black;
}


div.preview_btn_box {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px;
}

div.preview_logo_box {
  height: 50px;
  overflow-y: visible;
}

div.preview_btn_box + div.preview_logo_box {
  margin-left: 25px;
}

div.preview_box {
  position: relative;
}

div.grey_background {
  position:fixed; 
  z-index: 8;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.popup_wrapper {
  position:fixed; 
  z-index:9;
  width:100%; 
  height:0; 
  top:50%; 
  left:0;
}

div.popup {
  width: 600px; 
  z-index:9;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #FFF;
  border-style: double;
  border-width: 5px;
  border-color: #00666a;
  position:relative; 
}
div.close {
  cursor: pointer;
  border: 1px solid black; 
  width:15px; 
  height:15px; 
  line-height:15px; /* this causes vertical centering */
  text-align:center; 
  background-color:#FFF; 
  color:#000; 
  font-size:15px;
  font-family:monospace;
}

div.close:hover {
  color:#FFF;
  background-color:#000; 
}

div.navnum {
  width:100%; 
  height:20px; 
  line-height:20px; 
  text-align:center; 
  font-size:medium;
}

div.navarrow {
  font-size: 30px;
  text-decoration:none;
  cursor: pointer;
  -moz-user-select: none;  
  -webkit-user-select: none;  
  -ms-user-select: none;
}

div.navarrow > span.inactive {
  display: inline;
}
div.navarrow > span.active {
  display: none;
}

div.navarrow:hover > span.active {
  display: inline;
}
div.navarrow:hover > span.inactive {
  display: none;
}

table.programs {
  width: 100%;
}

table.programs tr {
  background-color: #EFE;
}

table.programs tr.selected {
  background-color: #262;
  color: #FFF;
}

table.programs tr.dna_only {
  display: none;
}

table.programs.alphabet_dna tr.dna_only {
  display: table-row;
}

div.programs_scroll {
  width: 100%; 
  height: 90px; 
  overflow-y: auto; 
  overflow-x: hidden;
  margin: 0 auto; 
}
table.inputs, table.alpha_bg_table {
  margin-top: 20px;
  border-collapse:collapse;
}
table.inputs * td, table.inputs * th, table.alpha_bg_table * td, table.alpha_bg_table * th {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

table.hide_psp td.col_psp, table.hide_psp th.col_psp {
  display: none;
}

/* program settings */
span.mod_oops, span.mod_zoops, span.mod_anr {
  display: none;
}
td.oops span.mod_oops,td.zoops span.mod_zoops, td.anr span.mod_anr  {
  display: inline;
}
span.strand_none, span.strand_given, span.strand_both {
  display: none;
}
td.none span.strand_none, td.given span.strand_given, td.both span.strand_both {
  display: inline;
}
span.spmap_uni, span.spmap_pam {
  display: none;
}
td.uni span.spmap_uni, td.pam span.spmap_pam {
  display: inline;
}
span.prior_dirichlet, span.prior_dmix, span.prior_mega, span.prior_megap, span.prior_addone {
  display: none;
}
td.dirichlet span.prior_dirichlet, td.dmix span.prior_dmix, td.mega span.prior_mega,
td.megap span.prior_megap, td.addone span.prior_addone {
  display: inline;
}
span.noendgaps_on, span.noendgaps_off {
  display: none;
}
td.on span.noendgaps_on, td.off span.noendgaps_off {
  display: inline;
}
span.substring_on, span.substring_off {
  display: none;
}
td.on span.substring_on, td.off span.substring_off {
  display: inline;
}
</style>
