ul {
    list-style-type: none;
    padding-left: 10px;
}

html * {
  font-family: 'Roboto', sans-serif;
}

div.spacer
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  height: 50px;
  margin-bottom: 15px;
  border-style: none;
  border-radius: 0;
  background-color: #0077c2;
  z-index: +200;
}

.navbar-brand {
    padding: 7px 0;
    background-color: #0077c2;
}

.affix {
  top: 0;
  width: 100%;
}

.navbar a {
  color: white;
}

.navbar .icon-bar {
	background-color:white;
}

#myNavbar a:visited {
  background-color: #2c5986;
}

#myNavbar a:hover {
  background-color: #91959C;
}

#myNavbar .active {
  background-color: #54585A;
}

#myNavbar .dropdown-menu li {
    padding: 5px 0;
}

.nav .open > a:focus {
  background-color: #3f7fc0;
}

.filter {
    padding: 0;
    background-color: #dbdbdb;
}

.filter ul {
    padding: 0 10px;
}

.filter .active {
  font-weight: bold;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  padding-right: 0;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #dbdbdb;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 0;
  }
  .row .content {height:auto;}
}

.dropdown-menu {
    min-width: 100px;
    background-color: white;
}

.dropdown-menu li a {
    color: black;
}

.dropdown-menu li a:hover {
    color: black;
}

#main-content {
    min-height: 480px;
    padding-bottom: 10px;
}

 #login-form, #register-form {
  max-width:330px;
  padding: 40px 10px;
 }

 #search input {
  	margin-top: 10px;
  	border-radius: 0
 }

 #search button {
 	border-radius: 0;
 }

#addProject {
    margin-top: 1em;
}

#projectForm{
    max-width: 660px;
    margin: 10px 0;
}

.profile form{
    max-width: 330px;
    margin: 10px 0;
}

.profile .btn-info {
    padding: 1px 10px;
}

.fields > div {
    margin: 5px;
}

#sample-nav-header h3{
    margin:0 10px;
    line-height:50px;
}

#sample-nav-header button {
    background-color:black;
}

#sample-nav-header .icon-bar {
    background-color: white;
}

#sample-nav {
    padding: 0;
}
#sample-nav ul {
    clear: left;
}
#sample-nav a:hover {
    background-color: #E0E0E0;
}
#sample-nav .active {
    background-color: white;
}

.item {
    border: 1px solid;
    margin: 5px;
    border-style: outset;
}

div.spacer
{
    font-size: 0;
    height: 10px;
    line-height: 0;
}

.edit {
    border: 1px solid;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: normal;
    color: #f6f6f6;
    background-color: #1E407C;
}

.edit:hover, .edit:active, .edit:focus {
    text-decoration: none;
    color: #f6f6f6;
    background-color: #467ad2;
}

.subnumber OL {
    counter-reset: item;
    padding-left: 10px;
}
.subnumber LI {
    display: block;
}

.subnumber LI:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

.external {
    background-color: #8b99af;
    border-color: #8b99af;
}
