@charset "utf-8";

body{
	font-family: Arial, sans-serif;
}

img{
	width:100%;
	height:100%;
}

.block{
	top: 354px;
	height: 620px;
	width:260px;
	position: absolute;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.sidetextbox{
	transform: rotate(-90deg);
	transform-origin: left top 0;
	text-align: center;
	position: absolute;
	font-size: 13px;
	width: 70px;
	font-weight: bold;
}

.featuresidetext{
	width: 30px;
	height: 600px;
	left: 700px;
	position: absolute;
	font-size: 13px;
}

.distancefrom{
	top: 1000px;
	text-align: center;
	position: absolute;
	height: 15px;
	font-size: 13px;
}

#motif_distance{
	left: 274px;
	width: 151px;
}

#Afeatures_distance{
	left : 476px;
	width: 220px;
}
#Bfeatures_distance{
	left : 775px;
	width : 220px;
}
#NFR_distance{
	left : 1048px;
	width : 220px;
}
#TSS_distance{
	left : 1302px;
	width : 220px;
}

#TES_distance{
	left : 1556px;
	width : 220px;
}

.minussign{
	left : 292px;
	top : 224px;
	position: absolute;
}

#rp_and_saga{
	top: 376px;
}
#tfiid{
	top: 546px;
}
#cut{
	top: 751px;
}
#sut{
	top: 811px;
}
#xut{
	top: 895px;
}
#trna{
	top: 961px;
}


#motif_sidetext{
	left: 151px;
	top: 796px;
}

#Afeatures_sidetext{
	left: 460px;
	top: 700px;
}

#Bfeatures_sidetext{
	left: 760px;
	top: 700px;
}

#NFR_sidetext{
	left: 1030px;
	top: 796px;
}
#TSS_sidetext{
	left: 1285px;
	top: 796px;
}
#TES_sidetext{
	left: 1540px;
	top: 796px;
}
#motif_block{
	left:166px;
}

#Afeatures_block{
	left:456px;
}

#Bfeatures_block{
	left:756px;
}

#nucleosome_block{
	left: 1025px;
}

#trans_start_block{
	left: 1273px;
}

#trans_end_block{
	left: 1523px;
}

#header1{
	left: 162px;
	top: 160px;
	height: 2em;
	position: absolute;
}
#header1 div{
    display: inline-block;
    margin-right: 50px;
    font-weight: bold;
}

#description{
	left:490px;
	top:215px;
	height:75px;
	width: 1270px;
	position:absolute;
}

#description div:first-child{
	font-weight: bold;
	font-size: 16px;
}
#description div:nth-child(2){
	font-size: 12px;
	left:600px;
}

#meme{
	left:162px;
	top: 195px;
	height: 120px;
	width: 250px;
	position: absolute;
	font-size: 12px;
}
#meme div:first-child{
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
#memecenter
{
width:100%;
text-align: center;
}

.ticknum{
	top : 986px;
	width: 20px;
	text-align: center;
	position: absolute;
	height: 12px;
	font-size: 12px;
}

#Motif_lefttick5_num
{
	top : 982px;
	left : 221px;
}

#Motif_lefttick3_num
{
	top : 982px;
	left : 197px;
}
#Motif_lefttick1_num
{
	top : 982px;
	left : 171px;
}

#Motif_rightbigtick1_num
{
	left : 264px;
}

#Motif_rightbigtick3_num
{
	left : 340px;
}

#Motif_rightbigtick5_num
{
	left : 414px;
}

#Afeatures_bigtick1_num
{
	left : 467px;
}

#Afeatures_bigtick2_num
{
	left : 517px;
}

#Afeatures_bigtick3_num
{
	left : 567px;
}

#Afeatures_bigtick4_num
{
	left : 617px;
}

#Afeatures_bigtick5_num
{
	left : 667px;
}

#Bfeatures_bigtick1_num
{
	left : 765px;
}
#Bfeatures_bigtick2_num
{
	left : 815px;
}
#Bfeatures_bigtick3_num
{
	left : 866px;
}
#Bfeatures_bigtick4_num
{
	left : 916px;
}
#Bfeatures_bigtick5_num
{
	left : 966px;
}

#NFR_bigtick1_num
{
	left : 1040px;
}
#NFR_bigtick3_num
{
	left : 1140px;
}
#NFR_bigtick5_num
{
	left : 1240px;
}

#TSS_bigtick1_num
{
	left : 1292px;
}
#TSS_bigtick2_num
{
	left : 1342px;
}
#TSS_bigtick3_num
{
	left : 1392px;
}
#TSS_bigtick4_num
{
	left : 1442px;
}
#TSS_bigtick5_num
{
	left : 1492px;
}

#TES_bigtick1_num
{
	left : 1546px;
}
#TES_bigtick3_num
{
	left : 1647px;
}
#TES_bigtick5_num
{
	left : 1746px;
}
.titlebox
{
	background : #E1F0FF;
	background : rgba(225, 240, 255, 1);
	position : absolute ;
	left : 143px;
	top : 0px;
	width : 1633px;
	height : 144px;
}
.titlecard
{
	left: 143px;
	top: 0px;
	position: absolute;
	width: 1633px;
	height: 144px;

	color: rgb(23,47,104);
	text-align: center;
	font-size: 33px;
	font-family: Avenir;
	font-weight: bold;
	line-height: 144px;

}
.titleseparator
{
	border-style : Solid;
	border-color : #96BEE6;
	border-color : rgba(150, 190, 230, 1);
	border-width : 2px;
	position : absolute ;
	left : 144px;
	top : 144px;
	width : 1631px;
	height : 0px;
}
.rightcolumn
{
	background : #1E407C;
	background : rgba(30, 64, 124, 1);
	position : absolute ;
	left : 1776px;
	top : 0px;
	width : 144px;
	height : 1079px;
}
.leftcolumn
{
	background : #1E407C;
	background : rgba(30, 64, 124, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 144px;
	height : 1079px;
}
.button
{
	background : #E1F0FF;
	background : rgba(225, 240, 255, 1);
	border-style : Solid;
	border-color : #96BEE6;
	border-color : rgba(150, 190, 230, 1);
	border-width : 3px;
	position : absolute ;
	width : 125px;
	height : 50px;
	border-radius : 12px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	z-index: 2;
	line-height: 50px;
}
#search_button
{
	left : 9px;
	top : 218px;
}

#howtouse_button
{
	left : 9px;
	top : 288px;
	line-height: 25px;
}

#home_button
{
	left : 9px;
	top : 147px;
}
.placeholder{
	position : absolute;
	left : 173px;
	top : 227px;
	width : 116px;
	height : 37px;
}
#meme_output{

}
